.www{
    margin-left: 20px;
}
.qqq{
    width: 60px;
    height: 20px;
    font-size: 10px;
    border-radius: 20px;
    padding-bottom: 10px;
    box-sizing: border-box;
}
.eee{
    margin-left: 140px;
}
.rrr{
    margin-right: 5px;
}